//
// MDC Theme
//

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #f33535;
$mdc-theme-secondary: #33425b;
// Other Svelte color: #40b3ff

$mdc-theme-background: #d8e9f0;
$mdc-theme-surface: #d8e9f0;

$mdc-theme-error: $material-color-red-900;