@import 'variables.scss';
@import 'margin.scss';
@import 'padding.scss';


main {
    height: 100vh;
    position: relative;
    width: 100vw;
    background-color: $secondary;
    margin: 0 auto;
    box-sizing: border-box;
}

p {
    margin: 0;
}
